
.home-banner {
  width: 100%;
  height: 100vh;
  background: url('../../assets/image/lake.jpg') no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .banner-text {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
    color: white;

    >span {
      font-size: 28px;
      font-weight: bolder;
    }

    >p {
      margin: 20px 0 40px;
      font-size: 20px;
      letter-spacing: 5px;
      text-shadow: 1px 1px;
      //width: 560px;
      height: 30px;
      border-right: 1px solid transparent;
      animation: typing 3s steps(42, end), blink-caret .75s step-end infinite;
      word-break: break-all;
      overflow: hidden;

      @keyframes typing {
        from {
          width: 0;
        }

        to {
          width: 480px;
        }
      }

      @keyframes blink-caret {

        from,
        to {
          border-color: transparent;
        }

        50% {
          border-color: currentColor;
        }
      }

    }

    >div button {
      border: none;
      background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      margin-top: 50px;
      font-size: 16px;

      &:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }

    }
  }
}

.content {
  width: 100%;
  height: 700px;
}

.rNav {
  width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: rgba(128,128,128,0.4);
  transition: width 300ms;
  overflow: hidden;
  .nav {
    width: 480px;
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    right: 0;
    z-index: 8;
  }
}

.showNav {
  width: 100vw;
  transition: width 600ms;
}